{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{% static 'pharmacist/css/styles.css' %}">
    <title>Pharmacist</title>
</head>

<body>
    <nav>
        <a href="" class="logo-a"><img class="logo" src="{% static 'pharmacist/images/logo.png' %}" alt=""></a>
        <ul class="ul">
            <li><a href="{% url 'start_page_pharmacist' %}" class="li-a">Главная</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'login_pharmacist' %}"><a class="li-a" href="{% url 'logout_pharmacist' %}">Выход</a>
            </li></a>
            <li><a class="li-a" href="{% url 'profile_pharmacist' %}"><img style="width: 40px; height: 40px;"
                        class="prof-img" src="{% static 'pharmacist/images/profile.png' %}" alt=""></a></li>
            {% else %}
            <li><a class="li-a" href="{% url 'registration_pharmacist' %}">Регистрация</a></li>
            <li><a class="li-a" href="{% url 'login_pharmacist' %}">Войти</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="main">
        {% block content %}



        {% endblock %}
    </div>
    <footer>
        <div class="foot-img">
            <a href="https://t.me/seriousrightnow"><img src="{% static 'pharmacist/images/Telegram_Messenger.png' %}"
                    alt="" class="end-img"></a>
            <a href="https://www.youtube.com/watch?v=YR16dpgtE_0&pp=ygUKYmFuYW5jaGlraQ%3D%3D"><img
                    src="{% static 'pharmacist/images/Youtube_logo.png' %}" alt="" class="end-img"></a>
            <a href="https://instagram.com/_shohjahon.com_?utm_source=qr"><img
                    src="{% static 'pharmacist/images/Instagram_icon.png' %}" alt="" class="end-img"></a>
        </div>
        <div class="foot-text">
            <p><a href="https://t.me/seriousrightnow" class="text-end">Контакты</a></p>
            <p><a href="" class="text-end">О нас</a></p>
        </div>
    </footer>
</body>

</html>