{% extends 'pharmacist/base.html' %}


{% block content %}
<div class="order-div">
    <h1>Заказы:</h1>
    <div class="bom">
        {% for order in orders %}
        <div class="order-med">
            <p>Заказ-{{ order.user.username }}</p>
            <p>Дата заказа: {{ order.order_date }}</p>
            <p>Сумма: {{ order.total_price }}</p>
            <p>Статус заказа: {{ order.status }}</p>
            <p><a href="{% url 'order_details_ph' order.id %}">Дополнительно</a></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}