{% extends 'pharmacist/base.html' %}


{% block content %}
<div class="order-div" style="background-color: white;">
    <h1>Заказы:</h1>
    <div class="bom">
        {% for order in orders %}
        <div class="order-med">
            <p>Заказ-{{ order.user.username }}</p>
            <p>Дата заказа: {{ order.order_date }}</p>
            <p>Сумма: {{ order.total_price }}</p>
            <p>Статус заказа: {{ order.status }}</p>
            {% if order.status != 'Доставляется' %}
            <p><a href="{% url 'order_details_ph' order.id %}" class="sub">Принять заказ</a></p>
            <p><a href="{% url 'decline_order' order.id %}" class="sub">Отклонить заказ</a></p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}