{% extends 'client/base.html' %}

{% block content %}
<h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
            text-decoration: none;
            align-items: center;">Избранные</h1>
<div class='main-div'>

    {% for fav in favorites %}
    <div class="med-div">
        <h3 class="med-name">{{fav.medicine.name}}</h3>
        <img src="{{ fav.medicine.image.url }}" alt="{{fav.medicine.name}}" class="med-img">
        <p>Цена: {{ fav.medicine.price }}$</p>
        <p><a href="{% url 'medicine_detail' fav.medicine.slug %}" class="med-det">Подробно</a></p>
    </div>
    {% endfor %}
</div>
{% endblock %}