{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{% static 'courier/css/styles.css' %}">
    <title>Courier</title>
</head>

<body>
    <nav>
        <p><a href="" class="logo-a"><img class="logo" src="{% static 'client/images/logo.png' %}" alt=""></a></p>
        <a href="{% url 'start_page_c' %}" class="li-a">Главная</a></p>
        {% if user.is_authenticated %}
        <p><a class="li-a" href="{% url 'logout_c' %}">Выход</a></p>
        <p><a href="{% url 'profile_c' %}"><img style="width: 40px; height: 40px;" class="prof-img"
                    src="{% static 'client/images/profile.png' %}" alt=""></a></p>
        {% else %}
        <p><a class="li-a" href="{% url 'registration_c' %}">Регистрация</a></p>
        <p>><a class="li-a" href="{% url 'login_c' %}">Войти</a></p>
        {% endif %}
    </nav>
    <div class="main">
        {% block content %}



        {% endblock %}
    </div>
    <footer>
        <div class="foot-img">
            <a href="https://t.me/seriousrightnow"><img src="{% static 'courier/images/Telegram_Messenger.png' %}"
                    alt="" class="end-img"></a>
            <a href="https://www.youtube.com/watch?v=YR16dpgtE_0&pp=ygUKYmFuYW5jaGlraQ%3D%3D"><img
                    src="{% static 'courier/images/Youtube_logo.png' %}" alt="" class="end-img"></a>
            <a href="https://instagram.com/_shohjahon.com_?utm_source=qr"><img
                    src="{% static 'courier/images/Instagram_icon.png' %}" alt="" class="end-img"></a>
        </div>
        <div class="foot-text">
            <p><a href="{% url 'registration_pharmacist' %}" class="text-end">Стать фармацевтом</a></p>
            <p><a href="https://t.me/seriousrightnow" class="text-end">Контакты</a></p>
            <p><a href="" class="text-end">О нас</a></p>
        </div>
    </footer>
</body>

</html>