{% extends 'courier/base.html' %}
{% load static %}

{% block content %}
<div class="prof-page">
    <div class="data" style="display: flex; align-items: center; font-weight: bold; flex-direction: row;">
        <img src="{% static 'courier/images/profile.png' %}" alt="" style="width: 150px;">
        <div>
            <p>Username: {{ user.username }}</p>
            <p>Имя: {{ user.first_name }}</p>
            <p>Фамилия: {{ user.last_name }}</p>
        </div>
    </div>
    <div>
        <p><a href="" class="prof-a">Мои доставки</a></p>
    </div>

</div>
{% endblock %}